@media (min-width: 1280px) {
  /* Remove community section from coin page */
  .cmc-body-wrapper .full-width-layout > div:first-child {
    grid-template-columns: 25% 75% !important;
  }

  .cmc-body-wrapper
    .full-width-layout
    > div:first-child
    > [data-title="Community"] {
    display: none !important;
  }

  .cmc-body-wrapper
    .full-width-layout
    > div:first-child:has(> [data-title="Community"]) {
    display: none !important;
  }
}



